
# Игнорируем виртуальное окружение
# Virtuelle Umgebung ignorieren
.venv/

# Игнорируем конфиденциальные файлы
# Vertrauliche Dateien ignorieren
.env

# Игнорируем временные файлы Python
# Temporäre Python-Dateien ignorieren
__pycache__/
*.pyc

# Игнорируем файлы PyCharm
# PyCharm-Dateien ignorieren
.idea/

# Игнорируем Jupyter checkpoints
# Jupyter Checkpoints ignorieren
.ipynb_checkpoints/